# node_modules - папка с зависимостями, которые будут восстанавливать другие пользователи
node_modules/

# dist - папка с результатами сборки Webpack
dist/

# Лог-файлы
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Файлы конфигурации редакторов
.idea/

# Файлы для тестов (например, временные)
coverage/

# Секретные ключи или конфиденциальные данные
.env
